header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #93ad18;
    max-height: 180px;
}

.logoTitle {
    display: flex;
    align-items: center;
}

header img {
    height: 50px;
    width: 50px;
}

header h1 {
    width: 200px;

}

a {
    width: 200px;
    color: #93ad18;
    position: absolute;
    right: 20px;
}