footer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

footer a {
    font-size: 20px;
    color: #93ad18;
    background-color: #5a6f0a;
    padding: 0 6px 6px 6px;
    border-radius: 5px;
}

footer img {
    height: 120px;
    width: 120px;
}